<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../static/css/style.css">
    <title>Document</title>
</head>
<body>
    <label for="number-items">Number of items displayed:</label>

    <select name="items" id="number-items">
    <option value="10">10</option>
    <option value="20" selected>20</option>
    <option value="50">50</option>
    <option value="100">100</option>
    <option value="all">all</option>
    </select>
    <div class="heros" id="hero-info"></div>

    <script src="static/js/sortable.js"></script>
</body>
</html>