<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Superhero Database</title>
    <link rel="stylesheet" href="../static/css/style.css">
</head>
<body>
    <div class="container">
        <select id="number-items">
            <option value="10">10</option>
            <option value="20">20</option>
            <option value="50">50</option>
            <option value="all">All</option>
        </select>
        <input type="text" id="searchBar" placeholder="Search for superheroes...">
        <div id="hero-info"></div>
    </div>
    <script src="../static/js/sortable.js"></script>
</body>
</html>
